{% extends "package/base.html" %}

{% block styles %}
 <link
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
  rel="stylesheet" /> 
  {{ super() }}
{% endblock %}

{% set res = c.resource %}
{% import 'macros/form.html' as form %}

{% block page %}
  <div id="pDescription">
    <form id="wpsExecuteForm">
    <fieldset>
    <h4></h4>
    <h5>{{ _("Inputs") }}</h5>
    {% for i in c.wps["dataInputs"] %}
    <p class="heading">
    {{ i["identifier"] }}
    {#{% if i["minoccurs"]==0 %}
    <input id="active" type="checkbox" name="active" value=""   />
    {% endif %}#}:
    {% if i["dataType"]!="ComplexData" %}
    <a href="{{ i["dataType"] }}">{{ i["dataType"].split("#")[1]}}</a>
    </p>
    <p class="description">{{ i["title"] }}</p>
    <p class="description">{{ i["abstract"] }}</p>    
    <input id="i_{{ i["identifier"] }}" type="text" name="i_{{ i["identifier"] }}" value="" placeholder=""  />
    {#{{ form.input(i["identifier"]) }}#}
    {% else %}
    </p>
    <p class="description">{{ i["title"] }}</p>
    <p class="description">{{ i["abstract"] }}</p>    
    <select data-module="wpsfl"
      data-target="input_ds_{{ loop.index }}" >
      <option>{{ i["mimeType"] }}</option>
	{% for j in i["supportedvalues"] %}
      <option>{{ j["mimeType"] }}</option>
	{% endfor %}
    </select>
    <select id="input_ds_{{ loop.index }}" data-module="wpsdsl"
      data-target="ir_{{ i["identifier"] }}" data-format="{{ i["mimeType"] }}" >
      <option value="-1">{{ _("Select a dataset") }}</option>
	{% for j in c.pkgs %}
      <option>{{ j }}</option>
	{% endfor %}
    </select>
    <select id="ir_{{ i["identifier"] }}" name="ir_{{ i["identifier"] }}">
      <option>{{ _("First select a dataset") }}</option>
    </select>
    {% endif %}
    {#{{ h.dump_json(i) }}#}
    {% endfor %}
    <h5>{{ _("Outputs") }}</h5>
    {% for i in c.wps["processOutputs"] %}
    <p class="heading">
    {{ i["identifier"] }}
    {% if i["minoccurs"]==0 %} ({{ _("optional")}}){% endif %}:
    {% if i["dataType"]!="ComplexData" %}
    <a href="http{{ i["dataType"] }}">{{ i["dataType"].split("#")[1]}}</a>
    </p>
    <p class="description">{{ i["title"] }}</p>
    <p class="description">{{ i["abstract"] }}</p>
    {% else %}
    <p class="description">{{ i["title"] }}</p>
    <p class="description">{{ i["abstract"] }}</p>
    <select id="pkg" name="pkg">
      <option value="-1">{{ _("Select a dataset") }}</option>
	{% for i in c.pkgs %}
      <option>{{ i }}</option>
	{% endfor %}
    </select>
    <!--
    <table class="table">
      <tr>
	<th>mimeType</th>
	<th>encoding</th>
	<th>schema</th>
      </tr>
      <tr>
	<td>
	  {{ i["mimeType"] }}
	</td>
	<td>
	  {{ i["encoding"] }}
	</td>
	<td>
	  {{ i["schema"] }}
	</td>
      </tr>
      {% for j in i["supportedvalues"] %}
      <tr>
	<td>
	  {{ j["mimeType"] }}
	</td>
	<td>
	  {{ j["encoding"] }}
	</td>
	<td>
	  {{ j["schema"] }}
	</td>
      </tr>
      {% endfor %}
    </table>
    
  <div class="dropdown">
    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    <i class="icon-file"></i>
    {{ i["mimeType"] }} ({{ i["encoding"] }}/{{ i["schema"] }})
    <span class="caret"></span>
    </a>
    {% if i["supportedvalues"].__len__()>0 %}
    <ul class="dropdown-menu">
      {% for j in i["supportedvalues"] %}
      <li><i class="icon-file"></i>{{ j["mimeType"] }} ({{ j["encoding"] }}/{{ j["schema"] }})</li>
      {% endfor %}
    </ul>
    {% endif %}  
  </div>
  -->

  {% endif %}
  {#{{ h.dump_json(i) }}#}
  {% endfor %}
  <input type="hidden" name="id" value="{{ res["id"] }}" />
  <input type="hidden" name="p" value="{{ c.wps["identifier"] }}" />
  <input type="hidden" name="out" value="{{ c.wps["processOutputs"][0]["identifier"] }}" />
  </fieldset>
  
  </form>

  <button class="btn btn-primary" name="execute" type="submit"
  data-module="wpsesb" data-target-form="wpsExecuteForm">
  {{ _('Execute') }}
  </button>

  </div>

{% resource 'vendor/bootstrap' %}

{% resource 'ckanext-wps/wps' %}

{% endblock %}

{% block scripts %}
{% endblock %}

